.filters {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    margin-left: 2rem;
}

.filter-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}