<MudNavMenu>
    <div style="display: flex;flex-flow: row nowrap; justify-content: center">
        <img src="icon.ico" alt="RecoverUnsold Admin" style="height: 75px;width: auto">
    </div>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/Customers" Match="NavLinkMatch.Prefix">Customers</MudNavLink>
    <MudNavLink Href="/Distributors" Match="NavLinkMatch.Prefix">Distributors</MudNavLink>
    <MudNavLink Href="/Offers" Match="NavLinkMatch.Prefix">Offers</MudNavLink>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>